body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
  }
  
 
  
body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav {
  background-color:Purple;
  height: 80px;
  width: 100%;
}

label.logo {
  color:white;
  font-size: 35px;
  line-height:  80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {

  float:right;
  margin-right:20px;
  


  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color:purple;
  color:purple;
  margin-bottom:0%;
  
  

}
nav ul li a {
  color : white;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius:4px;
  margin:0 10px;


}
nav ul li a:hover {cursor: pointer;
  

}





  @media screen and (max-width:992px){
    label.logo {
    background-color: aquamarine;
    font-size 30px;
    }
    nav ul li a {
      font-size: 16px;

    }
    
    
  }
   @media screen and (max-width:768px){
    label.logo {
      
      background-color: lavender;
    }
    
    ul {
      position:fixed;
      width:100%;
      background :yellow;
      top:80px;
      left:0;
      text-align:center;
    }
  }

  nav ul li{
    display:flex;
    
  }

   

 
  


 
  nav {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    Background-color:Purple;
  }
  
  
  .btn {
    background-color:royalblue;
    color:white;
    width:50%;
    text-decoration:none;
    font-size:15px;
  
    }

  
  
  main{
    display: flex;
    flex: 1 1 0;
    max-width: 100%;
    background-image:url("../images/texture-1.jpg");
    background-repeat: repeat-x;
    background-size:cover;
    margin:0%;
    padding-bottom:0%;
   
  }
  img.headshot {
    width: 100px;
    height: 120px;

  }

  h2.subtitle{
    text-align: center;
    font-size:25px;
    margin-right:90px;
    margin-top:0px;
    margin-bottom:220px;
    background-color:antiquewhite;
    color:darkbrown;
    width:20%;
    padding-top:15px;
   
    }

 
  h3
   {
    font-size:30px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    color:navy;
    background-color:antiquewhite;
    width:20%;
    margin-bottom:70px;
    margin-top:10%;
   }
h3.aboutme {
  font-size:30px;
  width:150px;
  margin-top:5%;
  margin-bottom:5%
}
  
h3.work {
  width:150px;
  }
   
h4  
{text-align: left;
  font-size:20px;
  color:white;
  background-color: blue;
  width:50%
}
 
  
.one {
  background-image: url(../images/bowtie-cat.png);
  background-size:cover;
  float: left;
  width: 45%;
  height:400px;
  margin-top:2px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px 5px grey;
  border-radius: 10px;
}


.two {
  background-color:lightgrey;
  width:45%;
  float:right;
  height:400px;
  margin-top:2px;
  margin-bottom:20px;
  box-shadow: 0px 0px 5px 5px grey;
  border-radius: 10px;
}


.three{
  background-color:lightgrey;
  width:45%;
  float:left;
  height:400px;
  margin-top:2px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 5px 5px grey;
  border-radius: 10px;
}



.four{
  background-color:lightgrey;
  width:45%;
  float:right;
  height:400px;
  margin-top:2px;
  margin-bottom:30px;
  box-shadow: 0px 0px 5px 5px grey;
  border-radius: 10px;
}

.btn:hover {
  cursor:pointer;
}

 
  .contactme {
  width:10%;
  font-size:17px;
  margin-top:0px;
  margin-bottom:15px;
  padding-top:10px;

} 

.navbar  {
 
   margin:10px;
  list-style-type:none;
   text-decoration: none;
   cursor:pointer;
   text-align:center;
  
  
}

   
.navbar li {
  display: inline;
  Padding:130px;
  color:antiquewhite;
  
}




p {
  text-align: center;

}
    
    

  article {
    border-bottom: 2px ridge Blue;
  }
  
  
  input, button {
    width: 100%;
    margin: 2% 0;
    padding: 1%;
  }
  
  
  
  